* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: #f6f6f6;
    box-sizing: border-box;
    background-color: black;
}

.titulo-destaque {
    color: #22d4fd;
} 

.apresentacao {
    display: flex;
    align-items: center;
}
